*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #083b4c;
}

h1{
    text-align: center;
    font-size: 60px;
    color: #fff;
    margin-top: 20px;
}

#container{
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 90px;
    height: 90px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg_blue{
    background-color: #1389b2;
}

.bg_green{
    background-color: #0bd6a1;
}

.bg_yellow{
    background-color: #ffd166;
}

.bg_red{
    background-color: #f0466f;
}